<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CART</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
    <table border="1">
        <tr>
            <th  style="padding:10px">Id</th>
            <th  style="padding:10px">Name</th>
        </tr>
        {% for i,j in products.items %}
            <tr id="{{i}}">
            <td>{{i}}</td>
            <td>{{j}}</td>
            <td><button class="btn btn-success del_btn"  style="background-color:#898ee5" value="ADD TO CART">remove</button></td>
            </tr>
        <script>
            $(".del_btn").click(function()
             {
             var del= $(this).parent().parent().attr('id');
             $.ajax({
             url: '/firstpage/del_from_cart/',
            data : {
              "del":del
            },
            dataType : 'json',
            success: function(data) {
              $("#"+del).remove();

                }
             });
             });
        </script>
        {% endfor %}
    </table>
</div>


</body>
</html>
